/* Style the content */
.content {
    /*background-color: #ddd;*/
    padding: 10px;
    height: inherit; 
    overflow: hidden;
	/*Flexbox settings*/
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-around;
}
.content h1{
width:100%;	
	
}
.inner_content {
    background-color: inherit;
    padding: 10px;
    min-height:10px;/* Should be removed. Only for demonstration */
    width:100%;
    height:auto;
	overflow:auto;
	height: inherit;
}
.inner_content_element {
    
	padding: 10px;
    /*height: 500px;*/
	/*width:300px;*/
    float:left;
	/*height: inherit;*/
	display:grid;
	
}
.img-responsive{
	/*object-fit:cover;
	max-height:250px;
	flex-shrink:2;*/
	/*width: 100%;
    height: auto;
	/*Test*/
	object-fit: cover;
    max-height: 250px;
    flex-shrink: 2;
}

.inner_content_element2 {
    display: inline-block;
	/*min-width: 750px;
	position: absolute;
	width: 100%;*/
	vertical-align: top;
	
	padding: 10px;
    height: 500px;
    width: 500px;
    float:left;
	transform: translate3d(0px, 0px, 0px);
	z-index: 0;
	vis
	ibility: visible;
}
.extend-info {
	width:100%;
	max-height:500px;
	/*background-color:green;*/
	background-color:#2a2a2a66;
	height:inherit;
	display:none;
}
.inner-frapper{
display: block;
}
.titlebutton {
	border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;

	margin: auto;
    color: white;
    text-align: center;

}
.frapper {
width:60%;
}

/*Mobile Scale*/
@media only screen and (max-width: 600px) {
		.frapper{
		width:100%;
		margin:auto;
		}
		.titlebutton {
		padding: 0;
		}
		.inner_content_element{
		width:100%;
		margin:auto;
		}
		.img-responsive{
		max-width: 100%;
		max-height:unset;
		}
}
